<!DOCTYPE html>
<html>
<head>
<!--  <title><%#= #@email.subject %></title>-->
  <title><%= @subject.to_s %></title>
</head>
<body>
<!--<p><%#= @email.body %></p>-->
<p><%= @body.to_s %></p>
</body>
</html>